* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #03dfff;
    background: linear-gradient(139deg, #00008b 0%, #add8e6 90%);
}

.heading {
    color: white;
    font-size: 2.5rem;
    font-family: Georgia,'Times New Roman', Times,serif;
    text-shadow: 1px 1px 2px red, 0 0 25px blue, 0 0 5px yellow;
    text-align: center;
    transform: scale(1, 1.3);
    padding-top: 5%;
}

.container {
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.addTask {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.addTask > input[type="text"] {
    width: 90%;
    color: #333;
    border: none;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size: 22px;
    outline: none;
}

.addTask button {
    margin: 0 10px;
    background: #222;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.notCompleted, .Completed {
    margin: 5px 0;
    padding: 20px;
}

h3 {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 5px red;
}

ol {
    list-style: none;
    counter-reset: my-counter;
}

    ol li {
        width: 100%;
        padding: 18px;
        margin: 5px 0;
        background: #FFB6C1;
        counter-increment: my-counter;
        font-size: 20px;
    }

    ol.Completed li {
        background: #20B2AA;
    }

    ol li::before {
        content: counter(my-counter);
        background: #231381;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 2rem;
        text-align: center;
        color: white;
        margin-right: 0.5rem;
    }

li button {
    float: right;
    padding: 5px;
    font-size: 26px;
    line-height: 26px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
